<div class="container-fluid">
    <div class="row d-flex m-auto justify-content-center align-items-center" style="height: 80vh; width: 100%">
        <div class="col-md-10 col-sm-10 m-auto">
            <h1 class="text-center" style="font-size: 6rem;">WELCOME</h1>
        </div>
    </div>
</div>