<div class="row height-70 justify-content-center align-items-center">

<ul>
	{{#each profileArray.Social}}
    <li class="sociallinks">
		    <a href="{{this.link}}" target="blank"><img class="mr-2 simg" src="{{this.icon}}" alt="" border="0"></a>
</
{{/each}}
</ul>
</div>